In [1]:
import pandas as pd

In [4]:
#test

ratings = pd.read_csv('https://projects.fivethirtyeight.com/soccer-api/club/spi_global_rankings.csv')
ratings = ratings[ratings.league=='Barclays Premier League']

In [5]:
ratings

,rank,prev_rank,name,league,off,def,spi
0,1,1,Manchester City,Barclays Premier League,3.01,0.30,92.98
3,4,4,Liverpool,Barclays Premier League,2.80,0.47,89.02
7,8,8,Tottenham Hotspur,Barclays Premier League,2.35,0.62,81.70
8,9,9,Arsenal,Barclays Premier League,2.29,0.59,81.54
9,10,10,Chelsea,Barclays Premier League,2.19,0.54,81.29
22,23,23,Brighton and Hove Albion,Barclays Premier League,2.00,0.64,76.31
24,25,25,Manchester United,Barclays Premier League,2.10,0.72,75.94
31,32,32,Newcastle,Barclays Premier League,1.94,0.74,72.93
39,40,40,West Ham United,Barclays Premier League,1.83,0.73,71.11
41,42,42,Aston Villa,Barclays Premier League,1.84,0.74,70.97
43,44,44,Crystal Palace,Barclays Premier League,1.83,0.77,70.22
51,52,52,Brentford,Barclays Premier League,1.96,0.93,68.79
60,61,61,Wolverhampton,Barclays Premier League,1.67,0.76,67.20
61,62,62,Leicester City,Barclays Premier League,1.96,1.00,67.13
69,70,70,Leeds United,Barclays Premier League,1.86,1.02,64.72
74,75,75,Everton,Barclays Premier League,1.69,0.89,64.35
75,76,76,Southampton,Barclays Premier League,1.77,0.98,63.89
89,90,89,Fulham,Barclays Premier League,1.70,1.01,61.68
129,130,131,AFC Bournemouth,Barclays Premier League,1.50,1.11,54.73
133,134,135,Nottingham Forest,Barclays Premier League,1.54,1.17,54.25